#heading1{
    color: red;
    font-family: algerian;
    font-size: 40px;
}
nav{
    display: flex;
}
.flex1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex2{
    display: flex;
    gap: 30px;
    list-style-type: none;
    position: absolute;
    right: 15%;
}
.hover:hover{
    color: red;
}
.hover{
    color: darkgoldenrod;
    font-family: algerian;
    font-size: 30px;
}
#image1{
    border-radius: 50%;
}
#heading2{
    text-align: center;
    color: white;
    font-family: algerian;
    font-size: 50px;
}
body{
    background-image: url(./background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.span2{
    font-size: 60px;
    color: green;
}
#head2{
    color: white;
    text-align: center;
    font-family: algerian;
    font-size: 30px;
}
.head3{
    color: white;
    text-align: center;
    font-family: algerian;
    font-size: 20px;
}
a{
    color: blue;
    position: relative;
    left: 42%;
    font-size: 30px;
}